<div id="<%= dom_id band %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= band.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= band.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Genre tags:</strong>
    <%= band.genre_tags %>
  </p>

</div>
