<div id="<%= dom_id ticket_order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Concert:</strong>
    <%= ticket_order.concert_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= ticket_order.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Count:</strong>
    <%= ticket_order.count %>
  </p>

</div>
